includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 7

    stubFiles:
        - stubs/Mailcoach.stub
        - stubs/Prism.stub
        - stubs/KnowledgeBase.stub

    paths:
        - app
        - app-modules
        - config
        - bootstrap
        - database/factories
        - routes

    excludePaths:
        - app-modules/SystemAdmin
        - app/Console/Commands/CreateSystemAdminCommand.php
        - app/Console/Commands/InstallCommand.php
        - app/Providers/Filament/KnowledgeBasePanelProvider.php

    configDirectories:
        - config
        - app-modules/Documentation/config
